{% extends "master.twig" %}

{% block content %}

    <div class="right_col" role="main">

        {# Add New Item Form #}
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="dashboard_graph">

                    <div class="row x_title">
                        <div class="col-md-6">
                            <h3>Add New Item
                                <small>to the portfolio page</small>
                            </h3>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_content">
                            {% if success == true %}
                                <h1 style="color: forestgreen;">{{ flashMessage }}</h1>
                            {% else %}
                                <h1 style="color: tomato;">{{ flashMessage }}</h1>
                            {% endif %}
                            <br/>
                            <form method="post" action="/admin/addItem" id="addItemForm" data-parsley-validate
                                  class="form-horizontal form-label-left" enctype="multipart/form-data">

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Title
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="title" name="title" required="required"
                                               class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subtitle">Subtitle
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="subtitle" name="subtitle"
                                               class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="urlName" class="control-label col-md-3 col-sm-3 col-xs-12">URL name <span
                                                class="required">*</span> </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="urlName" class="form-control col-md-7 col-xs-12" type="text" name="urlName"
                                               required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="control-label col-md-3 col-sm-3 col-xs-12">Description </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <textarea id="description" class="form-control col-md-7 col-xs-12" type="text"
                                                  name="description"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Tags
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div id="tags" class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default" data-toggle-class="btn-danger" data-toggle-passive-class="btn-dager">
                                                <input type="checkbox" name="tags[]" value="branding"> &nbsp; Branding
                                                &nbsp;
                                            </label>
                                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="checkbox" name="tags[]" value="web"> &nbsp; Web &nbsp;
                                            </label>
                                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="checkbox" name="tags[]" value="print"> &nbsp; Print &nbsp;
                                            </label>
                                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                <input type="checkbox" name="tags[]" value="photo"> &nbsp; Photo &nbsp;
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Image <span
                                                class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <label class="btn btn-default btn-primary btn-file">
                                            <input type="file" name="image" id="image" style="display:none;" onchange="$('#upload-file-info').html($(this).val());">
                                            Browse
                                        </label>
                                        <span class='label label-info' id="upload-file-info"></span>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-danger">Cancel</button>
                                        <button type="submit" class="btn btn-success" name="submit">Submit</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}