{% extends "master.twig" %}

{% block content %}

    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Contact Support</h3>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Shoot us an email</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            {% if result.success == 1 %}
                                <h3 style="color: forestgreen">{{ result.message }}</h3>
                            {% elseif result.success == 0 %}
                                <h3 style="color: tomato">{{ result.message }}</h3>
                            {% endif %}

                            <form action="/admin/contact" method="post">
                                {#<div class="form-group">#}
                                    {#<label for="email" class="control-label">Email:</label>#}
                                    {#<input type="email" class="form-control" name="email" id="email"#}
                                           {#placeholder="Your email.." required>#}
                                {#</div>#}
                                <div class="form-group">
                                    <label for="mobile" class="control-label">Phone:</label>
                                    <input type="number" class="form-control" name="mobile" id="mobile"
                                           placeholder="Your mobile number.." required>
                                </div>
                                <div class="form-group">
                                    <label for="subject" class="control-label">Subject:</label>
                                    <input type="subject" class="form-control" name="subject" id="subject"
                                           placeholder="Subject of email.." required>
                                </div>
                                <div class="form-group">
                                    <label for="message" class="control-label">Message:</label>
                                    <textarea class="form-control" rows="5" name="message" id="message"
                                              placeholder="Your message.." required></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <button type="submit" class="btn btn-block btn-success">Send Email</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Alternative Options</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <h3> Give support a call at <a class="contactSupport" href="tel:+2111036930">211-1036930</a>
                            </h3>
                            <h3> Give Antony Kalogeropoulos (CEO) a call at <a class="contactSupport" href="tel:+6949464934">6949464934</a>
                            </h3>
                            <h3> Visit us in our offices (THEA) at <a target="_blank" class="contactSupport" href="https://www.google.gr/maps/place/Kefallinias+45,+Athina+112+57/@37.9990272,23.7315169,17z/data=!3m1!4b1!4m5!3m4!1s0x14a1a2c9348128f9:0xf6c0098dc782989b!8m2!3d37.9990272!4d23.7337056">Kefallinias 45, Athina 112 57</a>
                            </h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock content %}