{% extends "master.twig" %}

{% block title %} Contact {% endblock title %}

{% block content %}

    <div class="row"><!--Container row-->

        {% if result.success == 1 %}
            <h4 class="alert alert-success" style="text-align: center;">{{ result.message }}</h4>
        {% elseif result.success == 0 %}
            <h4 class="alert alert-error" style="text-align: center;">{{ result.message }}</h4>
        {% endif %}

        <div class="span6 contact"><!--Begin page content column-->

            <h2 style="text-align: center;">Contact Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc
                iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt
                sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et
                urna.</p>

            <form action="/contact" method="post" id="contact-form">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input class="span4" name="fullName" id="prependedInput" size="16" type="text" placeholder="Name">
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    <input class="span4" name="email" id="prependedInput" size="16" type="email"
                           placeholder="Email Address">
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-globe"></i></span>
                    <input class="span4" name="subject" id="prependedInput" size="16" type="text"
                           placeholder="Θέμα email..">
                </div>
                <div class="textarea form-group">
                    <textarea style="resize: vertical;" class="span6" name="message" id="message"
                              placeholder="Το μήνυμά σας.."></textarea>
                </div>
                <div class="row">
                    <div class="span2">
                        <input type="submit" class="btn btn-inverse" value="Send Message">
                    </div>
                </div>
            </form>

        </div> <!--End page content column-->

        <div class="span6 contact"><!--Begin page content column-->

            <h2 style="text-align: center;">About Us</h2>

            <p>
                Ο Αλέξανδρος Κούρτης γεννήθηκε τον Μάρτιο του 1991 στην Αθήνα με κύριο στόχο καθώς φαίνεται να ασχοληθεί με τον χώρο της δημοσιογραφίας και των media. Σπούδασε στο ΤΕΙ Πληροφορικής και ΜΜΕ Δυτικής Ελλάδος ενώ έχει παρακολουθήσει σειρά σεμιναρίων και μαθημάτων υποκριτικής, αυτοσχεδιασμού, σωματικού θεάτρου και κινησιολογίας.
            </p>
            <img src="/img/test/kourtis.jpg" style="float: right; max-width: 100%; height: auto; margin: 10px; border: 4px solid darkgrey; border-radius: 15%" alt="author">

            <p>
                Παράλληλα με τις σπουδές ξεκίνησε τη δράση του στον χώρο παρουσιάζοντας συνεντεύξεις με πρόσωπα του θεάτρου και της τηλεόρασης στο Tvnea.com. Η συνέχεια τον βρίσκει να συνεργάζεται με την δημοσιογράφο Ζήνα Κουτσελίνη στο Enter TV, για τα επόμενα δύο χρόνια, τόσο στο κομμάτι των συνεντεύξεων όσο και ευρύτερα στο κομμάτι του καλλιτεχνικού ρεπορτάζ. Το καλοκαίρι του 2015 συναντάει τον δημοσιογράφο Τάσο Δούση και αναλαμβάνει την αρχισυνταξία του Youweekly.gr που ανήκει στον όμιλο Dousiscom. Επόμενη συνεργασία εκείνη με την δημοσιογράφο Ειρήνη Νικολοπούλου στο ειδησεογραφικό site Eirinika.gr, η οποία ξεκίνησε τον Οκτώβριο του 2015 και ολοκληρώθηκε τον Απρίλιο του 2016.
            </p>

            <blockquote>
                Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat.
            </blockquote>

            <p>
                Η αγάπη για το ραδιόφωνο υπήρχε ανέκαθεν στη ζωή του, μιας και είναι λάτρης όλων των ειδών της μουσικής, αλλά την απόφαση να εξερευνήσει το συγκεκριμένο μέσο την παίρνει τον Οκτώβριο του 2015 στην φιλόξενη και δημιουργική στέγη του Μεταδεύτερου. Καταλυτικό ρόλο στη λήψη αυτής της απόφασης είναι δίχως αμφιβολία ο συνδυασμός δύο μεγάλων του αδυναμιών. Της τέχνης και της μουσικής. Έτσι δημιουργείται το εβδομαδιαίο "Τέχνης σεργιάνι" όπου μαζί με τον εκάστοτε καλεσμένο του συζητάει και προτείνει οτιδήποτε λαμβάνει χώρα στην πόλη και αποτελεί μια όμορφη θεατρική επιλογή. Έπειτα από μια επιτυχημένη σεζόν και μια άριστη συνεργασία με τους ανθρώπους του σταθμού, με 32 εκπομπές και 40 καλεσμένους στο στούντιο, η ραδιοφωνική εκπομπή συνεχίζει το ταξίδι της για δεύτερη συνεχόμενη σεζόν.
            </p>

            <p>
                Σεπτέμβρης 2016 και η μεγάλη αγάπη στον θεατρικό χώρο οδηγεί στην δημιουργία του texnisergiani.gr. Ένα ενημερωτικό site που με σεβασμό και εκτίμηση στην τέχνη της υποκριτικής και στους ανθρώπους της έχει ως στόχο να παρακολουθεί καθημερινά όσα συμβαίνουν στην Αθήνα και χρήζουν προβολής και αξιολόγησης. Μέσα από ενδιαφέρουσες συνεντεύξεις, ολοκληρωμένες κριτικές, αποκλειστικές θεατρικές ειδήσεις και ενημερώσεις για ακροάσεις, το texnisergiani.gr επιδιώκει να προσεγγίσει τα θεατρικά δρώμενα με αντικειμενικότητα και σοβαρότητα δίχως κατευθυνόμενα συμφέροντα ή άλλες μεθόδους επιρροής της κοινής γνώμης που δεν απουσιάζουν προφανώς από την πλειονότητα των σημερινών Μέσων Μαζικής Ενημέρωσης.
            </p>

        </div> <!--End page content column-->

        <!-- Sidebar
        ================================================== -->
        {#<div class="span4 sidebar page-sidebar"><!-- Begin sidebar column -->#}
            {#<h5 class="title-bg">Our Location</h5>#}
            {#<address>#}
                {#<strong>Piccolo</strong><br>#}
                {#123 Main St, Suite 600<br>#}
                {#San Francisco, CA 94107<br>#}
                {#<abbr title="Phone">P:</abbr> (123) 456-7890#}
            {#</address>#}

            {#<address>#}
                {#<strong>Jimmy Doe</strong><br>#}
                {#<a href="mailto:#">first.last@gmail.com</a>#}
            {#</address>#}

            {#<h5 class="title-bg">Map Us</h5>#}
            {#<img src="img/location-map.jpg" alt="map">#}

        {#</div><!-- End sidebar column -->#}

    </div><!-- End container row -->

{% endblock content %}