<div class="footer-container"><!-- Begin Footer -->
    <div class="container">

        <div class="row footer-row">
            <div class="span3 footer-col">
                <!--Put Footer Content-->
            </div>
        </div>

        <div class="row"><!-- Begin Sub Footer -->
            <div class="span12 footer-col footer-sub">
                <div class="row no-margin">
                    <div class="span6">
                            <span class="left">
                                <h5>
                                    Copyright &copy; 2016 Technis Sergiani. All rights reserved.
                                </h5>
                            </span>
                    </div>
                    <div class="span6">
                        <ul class="right social-icons fa-lg">
                            <li><a href="#" class="social-icon facebook"></a></li>
                            <li><a href="#" class="social-icon twitter"></a></li>
                            <li><a href="#" class="social-icon dribble"></a></li>
                            <li><a href="#" class="social-icon rss"></a></li>
                            <li><a href="#" class="social-icon forrst"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- End Sub Footer -->

    </div>
</div><!-- End Footer -->
