{% extends "master.twig" %}

{% block title %} Kourtaros {% endblock title %}

{% block content %}

    <div class="row headline"><!-- Begin Headline -->

        <!-- Slider Carousel
       ================================================== -->
        <div class="span8">
            <div class="flexslider">
                <ul class="slides">
                    <li><a href="../../Template%20Pages%20-%20Demo/gallery-single.htm"><img
                                    src="img/gallery/horse_2.png" alt="slider"/></a></li>
                    <li><a href="../../Template%20Pages%20-%20Demo/gallery-single.htm"><img
                                    src="img/gallery/slider-img-1.jpg" alt="slider"/></a></li>
                    <li><a href="../../Template%20Pages%20-%20Demo/gallery-single.htm"><img
                                    src="img/gallery/slider-img-1.jpg" alt="slider"/></a></li>
                </ul>
            </div>
        </div>

        <!-- Headline Text
        ================================================== -->
        <div class="span4">
            <h3>My name is Kourtis. <br/>
                This is my app about theatre.</h3>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium vulputate magna
                sit
                amet blandit.</p>
            <p>Cras rutrum, massa non blandit convallis, est lacus gravida enim, eu fermentum ligula orci et tortor.
                In
                sit amet nisl ac leo pulvinar molestie. Morbi blandit ultricies ultrices.</p>
            <a href="#"><i class="icon-plus-sign"></i>Read More</a>
        </div>
    </div><!-- End Headline -->

    <!-- Page Content
    ================================================== -->
    <div class="row">

        <!-- Gallery Items
        ================================================== -->
        <div class="span12 gallery">

            <ul id="filterOptions" class="gallery-cats clearfix">
                <li class="active"><a href="#" class="all">All</a></li>
                <li><a href="#" class="illustration">Illustration</a></li>
                <li><a href="#" class="design">Design</a></li>
                <li><a href="#" class="video">Video</a></li>
                <li><a href="#" class="web">Web</a></li>
            </ul>

            <div class="row clearfix">
                <ul class="gallery-post-grid holder">

                    {% for post in latestPosts %}
                        <!-- Gallery Item 1 -->
                        <li class="span4 gallery-item" data-id="id-1" data-type="illustration">
                        <span class="gallery-hover-3col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="img/test/{{ post.nameOfPhoto }}" class="item-zoom-link lightbox"
                                   title="Custom Illustration" data-rel="prettyPhoto"></a>
                                <a href="/single_post"
                                   class="item-details-link"></a>
                            </span>
                        </span>
                            <a href="/single_post"><img
                                        src="img/test/{{ post.nameOfPhoto }}" alt="Gallery"></a>
                            <span class="project-details"><a
                                        href="/single_post">Custom Illustration</a>For an international add campaign.</span>
                        </li>
                    {% endfor %}

                    <!-- Gallery Item Example -->
                    {#<li class="span4 gallery-item" data-id="id-1" data-type="illustration">#}
                    {#<span class="gallery-hover-3col hidden-phone hidden-tablet">#}
                    {#<span class="gallery-icons">#}
                    {#<a href="img/gallery/gallery-img-1-full.jpg" class="item-zoom-link lightbox"#}
                    {#title="Custom Illustration" data-rel="prettyPhoto"></a>#}
                    {#<a href="../../Template%20Pages%20-%20Demo/gallery-single.htm"#}
                    {#class="item-details-link"></a>#}
                    {#</span>#}
                    {#</span>#}
                    {#<a href="../../Template%20Pages%20-%20Demo/gallery-single.htm"><img#}
                    {#src="img/gallery/gallery-img-1-3col.jpg" alt="Gallery"></a>#}
                    {#<span class="project-details"><a#}
                    {#href="../../Template%20Pages%20-%20Demo/gallery-single.htm">Custom Illustration</a>For an international add campaign.</span>#}
                    {#</li>#}

                </ul>
            </div>

            <!-- Pagination -->
            <div class="pagination">
                <ul>
                    <li class="active"><a href="#">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>

        </div><!-- End gallery list-->

    </div> <!-- End Page Content -->

{% endblock content %}




