<div class="row header"><!-- Begin Header -->

    <!-- Logo
    ================================================== -->
    <div class="span5 logo">
        <a href="/" style="border-radius: 50px;">
            <img src="/img/logo_4.png" style=" margin-top: -20px;" alt=""/>
            {#<img src="/img/logo_letters_greek.png" style="margin-left: -20px;" alt=""/>#}
        </a>
        {#<h3 style="display: inline;"><i>ΤΕΧΝΗΣ ΣΕΡΓΙΑΝΙ</i></h3>#}
    </div>

    <!-- Main Navigation
    ================================================== -->
    <div class="span7 navigation">
        <div class="navbar hidden-phone">

            <ul class="nav">
                <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">ΘΕΑΤΡΟ <b
                                class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/theatre/critics">Κριτικες</a></li>
                        <li><a href="/theatre/news">Ειδησεις</a></li>
                        <li><a href="/theatre/hearings">Ακροασεις</a></li>
                        <li><a href="/theatre/competitions">Διαγωνισμοι</a></li>
                        <li><a href="/theatre/plays">Παραστασεις</a></li>
                        <li><a href="/theatre/interviews">Συνεντευξεις</a></li>
                        {#<li><a href="/theatre">Αποκλειστικά</a></li>#}
                    </ul>
                </li>
                <li><a href="/cinema">ΣΙΝΕΜΑ</a></li>
                <li><a href="/music">ΜΟΥΣΙΚΗ </a></li>
                <li><a href="/photos">ΦΩΤΟΓΡΑΦΙΑ</a></li>
                <li><a href="/podcasts">ΕΚΠΟΜΠΕΣ</a></li>
                <li><a href="/contact">ΕΠΙΚΟΙΝΩΝΙΑ</a></li>
            </ul>

        </div>

        <!-- Mobile Nav
        ================================================== -->
        <form action="#" id="mobile-nav" class="visible-phone">
            <div class="mobile-nav-select">
                <select style="border: 1px solid #E59700" onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                    <option value="">Πλοήγηση...</option>
                    <optgroup label="ΘΕΑΤΡΟ">
                        <option value="/theatre/critics">- Κριτικές</option>
                        <option value="/theatre/news">- Ειδήσεις</option>
                        <option value="/theatre/hearings">- Ακροάσεις</option>
                        <option value="/theatre/competitions">- Διαγωνισμοί</option>
                        <option value="/theatre/plays">- Παραστάσεις</option>
                        <option value="/theatre/interviews">- Συνεντεύξεις</option>
                        {#<option value="">- Αποκλειστικά</option>#}
                    </optgroup>
                    <option style="font-weight: bold;" value="/cinema">ΣΙΝΕΜΑ</option>
                    <option style="font-weight: bold;" value="/music">ΜΟΥΣΙΚΗ</option>
                    <option style="font-weight: bold;" value="/photos">ΦΩΤΟΓΡΑΦΙΑ</option>
                    <option style="font-weight: bold;" value="/podcasts">ΕΚΠΟΜΠΕΣ</option>
                    <option style="font-weight: bold;" value="/contact">ΕΠΙΚΟΙΝΩΝΙΑ</option>
                </select>
            </div>
        </form>

    </div>

</div><!-- End Header -->
