<div class="row header"><!-- Begin Header -->

    <!-- Logo
    ================================================== -->
    <div class="span5 logo">
        <a href="/"><img src="/img/piccolo-logo.png" alt=""/></a>
        <h5><i>Technis Sergiani</i></h5>
    </div>

    <!-- Main Navigation
    ================================================== -->
    <div class="span7 navigation">
        <div class="navbar hidden-phone">

            <ul class="nav">
                <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">ΘΕΑΤΡΟ <b
                                class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/theatre">Συνεντευξεις</a></li>
                        <li><a href="/theatre">Κριτικες</a></li>
                        <li><a href="/theatre">Οδηγος</a></li>
                        <li><a href="/theatre">Διαγωνισμοι</a></li>
                        <li><a href="/theatre">Νεα</a></li>
                    </ul>
                </li>
                <li><a href="/cinema">ΣΙΝΕΜΑ</a></li>
                <li><a href="/music">ΜΟΥΣΙΚΗ </a></li>
                <li><a href="/photos">ΦΩΤΟΓΡΑΦΙΑ</a></li>
                <li><a href="/podcasts">ΕΚΠΟΜΠΕΣ</a></li>
                <li><a href="/contact">ΕΠΙΚΟΙΝΩΝΙΑ</a></li>
            </ul>

        </div>

        <!-- Mobile Nav
        ================================================== -->
        <form action="#" id="mobile-nav" class="visible-phone">
            <div class="mobile-nav-select">
                <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                    <option value="">Πλοήγηση...</option>
                    <option value="">ΘΕΑΤΡΟ</option>
                    <option value="">- Συνεντεύξεις</option>
                    <option value="">- Κριτικές</option>
                    <option value="">- Οδηγός</option>
                    <option value="">- Διαγωνισμοί</option>
                    <option value="">- Νέα</option>
                    <option value="/post_list">ΣΙΝΕΜΑ</option>
                    <option value="/post_list">ΜΟΥΣΙΚΗ</option>
                    <option value="/post_list">ΦΩΤΟΓΡΑΦΙΑ</option>
                    <option value="/post_list">ΕΚΠΟΜΠΕΣ</option>
                    <option value="/contact">ΕΠΙΚΟΙΝΩΝΙΑ</option>
                </select>
            </div>
        </form>

    </div>

</div><!-- End Header -->
