{% extends "master.twig" %}

{% block title %} Kourtaros - All Posts {% endblock title %}

{% block content %}

    <!--Search-->
    <section class="align-right">
        <div class="input-append">
            <form action="#">
                <input id="appendedInputButton" size="16" type="text" placeholder="Search">
                <button class="btn" type="button"><i class="icon-search"></i></button>
            </form>
        </div>
    </section>

    <!-- Blog Content
        ================================================== -->
    <div class="row">

        <!-- Blog Posts
        ================================================== -->
        <div class="span12 blog">

            <div class="row clearfix">
                <ul class="blog-post-grid">

                    {% for post in posts %}
                        <li class="span6 blog-post-item">
                            <div class="blog-post-hover hidden-phone hidden-tablet">
                                <p><a href="/single_post" class="clearfix">{{ post.title }}</a>
                                    {{ post.summary }}</p>
                            </div>
                            <a href="/single_post"><img src="img/test/{{ post.nameOfPhoto }}" alt="Post Thumb"></a>
                        </li>
                    {% endfor %}

                </ul>
            </div>

            <!-- Pagination -->
            <div class="pagination">
                <ul>
                    <li class="active"><a href="#">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock content %}